= form_for(@document, multipart: true) do |f|
  .field
  = f.label :author
  %p= current_user.username
  = f.hidden_field :user_id, value: current_user.id, readonly: true
  = f.hidden_field :group, value: current_user.group, readonly: true
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :modul
    = f.text_field :modul
  .field
    = f.label :description
    = f.text_area :description, rows: 6
  .field
    = f.label :file
    = f.file_field :file
  .field
    = f.label :tags
    -# = f.text_field :tags
    - GroupDocument::TAGS.each do |tag|
      %label.tag-label
        = image_tag "#{tag}.png"
        = check_box_tag "group_document[tags][]", tag, @document.tags.try(:include?, tag)
  .actions
    = f.submit 'do it'
