%section.wrapper.tint.documents
  .col10.shift1.mobile-full
    %table
      %tr.no-border
        %td.text-center
          = link_to '+ neues dokument', new_group_document_path

  - @moduli.each do |modul|
    .col10.shift1.mobile-full
      %table
        %tr
          %th= modul
        - @documents.where(modul: modul).each do |document|
          %tr.no-border
            %td
              = link_to document.title, document.file.url, target: '_blank'
              .darker-text
                = document.user.username
                = "#{document.updated_at.strftime("%d.%m.%Y")}"
                - if current_user
                  - if document.user == current_user || current_user.admin?
                    = link_to edit_group_document_path(document), class: 'edit-link' do
                      = image_tag 'edit.png'
                    = link_to group_document_path(document), method: :delete, class: 'delete-link', data: { confirm: 'löschen? ja?' } do
                      = image_tag 'delete.png'
          %tr.no-border
            %td
              = document.description.gsub(/\n/, '<br/>').html_safe
          %tr
            %td.tags
              - document.tags.reject!(&:empty?).each do |tag|
                = image_tag "#{tag}.png"
              .darker-text
                = link_to '+ neuer kommentar', new_group_document_group_comment_path(document)

          - document.group_comments.order(:created_at).each do |comment|
            %tr.comment-row
              %td
                = comment.comment.gsub(/\n/, '<br/>').html_safe
                .darker-text
                  = comment.user.username
                  = "#{comment.updated_at.strftime("%d.%m.%Y")}"
                  - if current_user
                    - if comment.user == current_user || current_user.admin?
                      = link_to edit_group_document_group_comment_path(document, comment), class: 'edit-link' do
                        = image_tag 'edit.png'
                      = link_to group_document_group_comment_path(document, comment), method: :delete, class: 'delete-link', data: { confirm: 'löschen? ja?' } do
                        = image_tag 'delete.png'
                %br
                - comment.tags.reject(&:empty?).each do |tag|
                  = image_tag "#{tag}.png", class: 'small-tag'

  .col10.shift1.mobile-full
    %table.legende
      %tr.tags.no-border
        %td
          = image_tag 'niceone.png'
          %p super sache!
        %td
          = image_tag 'actionrequired.png'
          %p in arbeit
        %td
          = image_tag 'needhelp.png'
          %p brauche hilfe
        %td
          = image_tag 'info.png'
          %p zur info
