%section.wrapper.tint.documents
  .col10.shift1.mobile-full
    %table
      %tr.no-border
        %td.text-center
          = link_to '+ new', new_group_document_path

  - @moduli.each do |modul|
    .col10.shift1.mobile-full
      %table
        %tr
          %th= modul
        - @documents.where(modul: modul).each do |document|
          %tr.no-border
            %td
              = link_to document.title, document.file.url, target: '_blank'
              .darker-text
                = document.user.username
                = "#{document.updated_at.strftime("%d.%m.%Y")}"
                - if current_user
                  - if document.user == current_user || current_user.admin?
                    = link_to edit_group_document_path(document), class: 'edit-link' do
                      = image_tag 'edit.png'
                    = link_to group_document_path(document), method: :delete, class: 'delete-link', data: { confirm: 'löschen? ja?' } do
                      = image_tag 'delete.png'
          %tr.no-border
            %td
              = document.description
          %tr
            %td.tags
              - document.tags.each do |tag|
                = image_tag "#{tag}.png"

              .darker-text
                neuer kommentar

  .col10.shift1.mobile-full
    %table.legende
      %tr.tags.no-border
        %td
          = image_tag 'niceone.png'
          %p super sache!
        %td
          = image_tag 'actionrequired.png'
          %p in arbeit
        %td
          = image_tag 'needhelp.png'
          %p brauche hilfe
        %td
          = image_tag 'info.png'
          %p zur info
