= render 'partials/navigation', active: 'who'

%section.wrapper
  .col4.shift3
    .babble
      %p
        "Hauptsach es isch nöd uf Facebook..."
        %br
        %br
        — donat baier
  .col-xicht
    = image_tag 'xicht.jpg', class: 'xicht'

%section.wrapper
  .col-xicht.shift2
    = image_tag 'rad.jpg', class: 'xicht'
  .col6
    .babble
      %p
        Aber uf
        = link_to 'Instagram', "https://www.instagram.com/d0naier/"
        gits es paar Bilder, es paar
        = link_to 'Spotify', "https://open.spotify.com/user/donat.baier"
        Playlists, Gaming über
        = link_to 'Steam', "http://steamcommunity.com/id/undrhund"
        und es inaktivs
        = link_to 'Strava', "https://www.strava.com/athletes/26044698"
        Profil

%section.wrapper
  .spacer
  .col10.shift1.mobile-full.dark
    %h2.flashy= "#<span class='red'>life</span><span class=''>behind</span><span class='red'>bars</span>".html_safe
    = image_tag 'who_breit.jpg'
