- unless current_user
  %section.wrapper
    .col8.shift2.mobile-full
      .babble.info#mitmache
        .info-title mitmache?
        %p kalender fülle – zemefassige teile – ressource nutze
        %p wetsch helfe? – super!
        = form_for(@user_request, remote: true, html: { class: 'form-signup' } ) do |f|
          = f.submit '', class: 'onefield'
          .miniset
            = f.text_field :email, placeholder: 'zhaw email', class: 'text-center onefield'
        = flash[:error]
        %p.info-author oder chunschmers go säge…
%section.wrapper
  = link_to calendar_entries_path, class: 'col3 shift3 linked-tile' do
    .link-tile.babble
      = image_tag 'calendar.png'
      %p calendar
  = link_to documents_path, class: 'col3 linked-tile' do
    .link-tile.babble
      = image_tag 'document.png'
      %p documents

%section.wrapper
  .col8.shift2
    = link_to 'https://www.youtube.com/watch?v=qYvXk_bqlBk', target: '_blank', class: 'info-link' do
      .babble.info
        = image_tag 'youtube.png', class: 'ted-video'
        .info-title TED
        %h5 Who are you, really? The puzzle of personality
        %p Brian Little

  .col8.shift2
    = link_to 'https://www.youtube.com/watch?v=cmpu58yv8-g', target: '_blank', class: 'info-link' do
      .babble.info
        = image_tag 'youtube.png', class: 'ted-video'
        .info-title TED
        %h5 What reality are you creating for yourself?
        %p Isaac Lidsky

.spacer
%section.footer
  %span
    = "made by #{ link_to 'donat', 'http://twitter.com/donaier', target: '_blank' }".html_safe
  = image_tag 'logo.png', class: 'tiny'
  %span
    = "hosted on #{ link_to 'heroku', 'http://www.heroku.com/', target: '_blank' }".html_safe
  = image_tag 'logo.png', class: 'tiny'
  %span
    = "open #{ link_to 'code', 'http://github.com/donaier/motherlode', target: '_blank' }".html_safe
