- unless current_user
  %section.wrapper
    .col8.shift2.mobile-full
      .babble.info#mitmache
        .info-title mitmache?
        %p kalender fülle – zemefassige teile – ressource nutze
        %p wetsch helfe? – super!
        = form_for(@user_request, remote: true, html: { class: 'form-signup' } ) do |f|
          = f.submit '', class: 'onefield'
          .miniset
            = f.text_field :email, placeholder: 'zhaw email', class: 'text-center onefield'
        = flash[:error]
        %p.info-author oder chunschmers go säge…

%section.wrapper
  .col8.shift2.mobile-full
    .babble.info
      .info-title.rotate druckphase!
      %br
      %ul
        %li
          %strong
            Modul
            %span.highlight
              1
            = "- Geschichte und Theorien der Sozialen Arbeit"
          %p
            %span.highlight
              10. - 12. Januar
            | mündliche Prüfung
        %li
          %strong
            Modul
            %span.highlight
              2
            = "- Entwicklung und Sozialisation"
          %p
            %span.highlight
              19. Januar, 14:00 - 16:00
            | schriftliche Prüfung
        %li
          %strong
            Modul
            %span.highlight
              3
            = "- Grundlagen professionellen Handelns (3.1)"
          %p
            %span.highlight
              16. - 18. Januar
            | schriftliche Arbeit auf Moodle
        %li
          %strong
            Modul
            %span.highlight
              4
            = "- Einführung in wissenschaftliches Arbeiten"
          %p
            %span.highlight
              9. Januar
            | schriftliche Arbeit
        %li
          %strong
            Modul
            %span.highlight
              5
            = "- Portfolio 1"
          %p
            %span.highlight
              30. Dezember
            | ePortfolio
      %p.info-author viel Erfolg!

%section.wrapper
  .col8.shift2
    .babble.info
      = image_tag 'spsa_stallions.png'
      = image_tag 'lwo_dolphins.png'
      %p
        Sammelbestellung SPSA/LWO Shirt
        = link_to 'hier mitmachen!', 'mailto:donat.baier@gmx.ch?subject=Ich will eins!'

%section.wrapper
  = link_to calendar_entries_path, class: 'col3 shift3 linked-tile' do
    .link-tile.babble
      = image_tag 'calendar.png'
      %p calendar
  = link_to documents_path, class: 'col3 linked-tile' do
    .link-tile.babble
      = image_tag 'document.png'
      %p documents

%section.wrapper
  .col8.shift2
    = link_to 'https://www.ted.com/talks/brian_little_who_are_you_really_the_puzzle_of_personality', target: '_blank', class: 'info-link' do
      .babble.info
        = image_tag 'ted.png', class: 'ted-video'
        -# .info-title TED
        %h5 Who are you, really? The puzzle of personality
        %p Brian Little

  .col8.shift2
    = link_to 'https://www.ted.com/talks/isaac_lidsky_what_reality_are_you_creating_for_yourself', target: '_blank', class: 'info-link' do
      .babble.info
        = image_tag 'ted.png', class: 'ted-video'
        -# .info-title TED
        %h5 What reality are you creating for yourself?
        %p Isaac Lidsky

.spacer
%section.footer
  %span
    = "made by #{ link_to 'donat', 'http://twitter.com/donaier', target: '_blank' }".html_safe
  = image_tag 'logo.png', class: 'tiny'
  %span
    = "hosted on #{ link_to 'heroku', 'http://www.heroku.com/', target: '_blank' }".html_safe
  = image_tag 'logo.png', class: 'tiny'
  %span
    = "open #{ link_to 'source', 'http://github.com/donaier/motherlode', target: '_blank' }".html_safe
