%header.centered-navigation{ role: "banner" }
  .centered-navigation-wrapper
    %a.mobile-logo{ href: root_path }
      = image_tag 'logo.png'
    %a#js-centered-navigation-mobile-menu.centered-navigation-mobile-menu{ href: "javascript:void(0)" } MENU
    %nav{:role => "navigation"}
      %ul#js-centered-navigation-menu.centered-navigation-menu.show
        - if current_user
          %li.nav-link
            = link_to 'logout', destroy_user_session_path, method: :delete


%section.wrapper.tint
  - @moduli.each do |modul|
    .col10.shift1
      %table
        %tr
          %th{ colspan: 4 }= modul
        - @documents.each do |document|
          %tr
            %td
              = link_to document.title, document.file.url, target: '_blank'
            %td= document.description
            %td.darker-text
              = document.author
              = "#{document.updated_at.strftime("%d.%m.%Y")}"
            %td
              - if current_user
                - if document.author == current_user.username
                  = link_to 'edit', edit_document_path(document)
        %tr
          %td{ colspan: 4 }

        - if current_user
          %tr
            %td.text-center{ colspan: 4 }
              = link_to '+ new', new_document_path
