%section.wrapper.tint
  - @moduli.each do |modul|
    .col10.shift1
      %table
        %tr
          %th{ colspan: 4 }= modul
        - @documents.where(modul: modul).each do |document|
          %tr
            %td
              = link_to document.title, document.file.url, target: '_blank'
            %td= document.description
            %td.darker-text
              = document.author
              = "#{document.updated_at.strftime("%d.%m.%Y")}"
            %td
              - if current_user
                - if document.author == current_user.username
                  = link_to 'edit', edit_document_path(document)

      - if current_user
        %table
          %tr
            %td.text-center{ colspan: 4 }
              = link_to '+ new', new_document_path
