%section.wrapper.tint.documents
  - @moduli.each do |modul|
    .col10.shift1
      %table
        %tr
          %th= modul
        - @documents.where(modul: modul).each do |document|
          %tr.no-border
            %td
              = link_to document.title, document.file.url, target: '_blank'
              .darker-text
                = document.author
                = "#{document.updated_at.strftime("%d.%m.%Y")}"
                - if current_user
                  - if document.author == current_user.username
                    = link_to edit_document_path(document), class: 'edit-link' do
                      = image_tag 'edit.png'
            %tr
              %td
                = document.description

  - if current_user
    .col10.shift1
      %table
        %tr.no-border
          %td.text-center
            = link_to '+ new', new_document_path
