- if @detail_entries.any?
  %table
    %tbody
      %tr
        %td.day.current-month
          .cal-date.highlight
            = @detail_entries.first.last.first.date.strftime('%d %b')
          - @detail_entries.each do |entry_group|
            .entry-detail
              .info= entry_group.first
              - entry_group.last.each do |entry|
                .description
                  = entry.description.gsub(/\n/, '<br/>').html_safe
                .author
                  = entry.author
                  - if current_user.try(:username) == entry.author || current_user.try(:admin)
                    = link_to edit_calendar_entry_path(entry), class: 'edit-link' do
                      = image_tag 'edit.png'
