%section.wrapper.tint.calendar
  .col8.shift2
    = week_calendar events: @entries, number_of_weeks: 4 do |date, entries|
      .cal-date
        = date.strftime('%d %b')
        - if current_user
          = link_to '+', new_calendar_entry_path(date: date), class: 'new-entry-link'

      - entries.each do |entry|
        .modul-batch
          = entry.modul

  .col10.shift1
    - if current_user
      %table
        %tr
          %td.text-center{ colspan: 4 }
            = link_to '+ new', new_calendar_entry_path
