.wrapper
  .col12
    %h4 images
    = link_to 'new', new_image_path

    %table
      - @images.each do |image|
        %tr
          %td= image.title
          %td= image.position
          %td= image.date
          %td= image.category
          %td= image_tag image.img_file.url(:medium)
          %td= link_to 'edit', edit_image_path(image)
