!!!

%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title (╯°□°）╯︵ ┻━┻
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

    %link{ rel: "stylesheet", type: "text/css", href: "//fonts.googleapis.com/css?family=Ubuntu" }
  %body
    = render 'partials/header'
    %p.notice
      = notice
    %p.alert
      = alert
    = yield
    = render 'partials/footer'
