!!!

%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title (╯°□°)╯︵ ┻━┻
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'

    %meta{ id: "meta", name: "viewport", content: "initial-scale=1.0" }
    %meta{ name: "apple-mobile-web-app-capable", content: "yes" }
    %meta{ name: "apple-mobile-web-app-status-bar-style", content: "black" }
    %link{ href: asset_path("icon.png"), rel: "apple-touch-icon" }

    %link{ rel: "stylesheet", type: "text/css", href: "//fonts.googleapis.com/css?family=Ubuntu" }
    <script>(function(a,b,c){if(c in b&&b[c]){var d,e=a.location,f=/^(a|html)$/i;a.addEventListener("click",function(a){d=a.target;while(!f.test(d.nodeName))d=d.parentNode;"href"in d&&(d.href.indexOf("http")||~d.href.indexOf(e.host))&&(a.preventDefault(),e.href=d.href)},!1)}})(document,window.navigator,"standalone")</script>
  %body.zhaw
    = render 'partials/zhaw_header'
    = yield
